.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.home main {
  width: 100%;
  flex: 1;
  margin-top: -1.75rem;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home main form {
  max-width: 46rem;
  width: 100%;
  display: flex;
  gap: 0.5rem;
}

.home main form button {
  font-size: 1rem;
  font-weight: bold;
  color: var(--gray-100);
  background-color: var(--blue-700);
  border: none;
  border-radius: 8px;
  padding: 1rem;
  gap: 0.5rem;
  display: flex;
  align-items: center;
}

.icon {
  line-height: 0;
}
